<!-- <mat-toolbar style="background-color: rgba(15, 39, 255, 0.363);color: white; font: bold">
  <mat-toolbar-row>
    <span>ZeroQ</span>
    <span class="example-spacer"></span>
    <button mat-button *ngIf="loginservice.isAuthenticated() && loginservice.isAdmin()" routerLink="/dashboard">Dashboard</button>
    <button mat-button *ngIf="loginservice.isAuthenticated() && loginservice.isAdmin()" routerLink="/userslist">Users</button>
    <button mat-button *ngIf="loginservice.isAuthenticated() && !loginservice.isAdmin()" routerLink="/user">Dashboard</button>
    <button mat-button *ngIf="loginservice.isAuthenticated()" routerLink="/account">Account</button>
    <button mat-button *ngIf="loginservice.isAuthenticated() && !loginservice.isAdmin()" routerLink="/myorders">My Cart</button>
    <button mat-button *ngIf="loginservice.isAuthenticated() && !loginservice.isAdmin()" routerLink="/userorders">My
      Orders</button>
    <button mat-button *ngIf="loginservice.isAuthenticated()" (click)="loginservice.logout()">Logout</button>
    <button mat-button *ngIf="!loginservice.isAuthenticated()" routerLink="/login">Login/Register</button>
  </mat-toolbar-row>
</mat-toolbar> -->

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#">ZeroQ</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="btn btn-dark" *ngIf="loginservice.isAuthenticated() && loginservice.isAdmin()" routerLink="/dashboard">Dashboard
          <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item active">
        <a class="btn btn-dark" *ngIf="loginservice.isAuthenticated() && loginservice.isAdmin()" routerLink="/userslist">Users
          <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item active">
        <a class="btn btn-dark" *ngIf="loginservice.isAuthenticated() && !loginservice.isAdmin()" routerLink="/user">Dashboard
          <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item active">
        <a class="btn btn-dark" *ngIf="loginservice.isAuthenticated()" routerLink="/account">Account
          <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item active">
        <a class="btn btn-dark" *ngIf="loginservice.isAuthenticated() && !loginservice.isAdmin()" routerLink="/myorders">My
          Cart
          <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item active">
        <a class="btn btn-dark" *ngIf="loginservice.isAuthenticated() && !loginservice.isAdmin()" routerLink="/userorders">My
          Orders
          <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item active">
        <a class="btn btn-dark" *ngIf="loginservice.isAuthenticated()" (click)="loginservice.logout()" routerLink="/myorders">Log
          out
          <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item active">
        <a class="btn btn-dark" *ngIf="!loginservice.isAuthenticated()" routerLink="/login">Login
          <span class="sr-only">(current)</span></a>
      </li>

    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav>
